name: C/C++ CI

on: 
  push:
    paths-ignore: 
    - '.github/workflows/*.yml'

defaults:
  run:
    working-directory: ./lib_jtag_core/build/linux

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: make
      run: make
    - name: test
      working-directory: ./lib_jtag_core/test/linux
      run: make
